# Cache and logs (Symfony2)
api/app/cache/*
api/app/logs/*
!api/app/cache/.gitkeep
!api/app/logs/.gitkeep

# Cache and logs (Symfony3)
api/var/cache/*
api/var/logs/*
!api/var/cache/.gitkeep
!api/var/logs/.gitkeep

# Parameters
api/app/config/parameters.yml
api/app/config/parameters.ini

# Managed by Composer
api/app/bootstrap.php.cache
api/var/bootstrap.php.cache
api/bin/*
!api/bin/console
!api/bin/symfony_requirements
api/vendor/

# Assets and user uploads
api/web/bundles/
api/web/uploads/
api/web/js/
api/web/css/
# PHPUnit
api/app/phpunit.xml
api/phpunit.xml

# Build data
dist/

# Composer PHAR
api/composer.phar

#node_modules
node_modules/

#bower dependencies
bower_components/
